body {
	background-color: lightblue;
}
#concat{
	text-align: center;
	color: gold;
	font-size: 300px;

}
#button{
	
	font-size: 200px;
	color: red;
	text-align: center;
}
#input{
	text-align: center;
}

